[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
coverage = "*"

[packages]
click = "*"
antlr4-python3-runtime = "*"
netifaces = "*"
netaddr = "*"

[requires]
python_version = "3.7"
